APP_ENV=development
PORT=4000
NODE_ENV=development

RESPONSYS_ENDPOINT=http://localhost:6000

REDIS_HOST=localhost
REDIS_PORT=6379

# MongoDB connection
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=testdb
MONGO_USER=root
MONGO_PASS=example

RESPONSYS_ENDPOINT=http://localhost:6000
RESPONSYS_USERNAME=your_responsys_username
RESPONSYS_PASS=your_encrypted_responsys_password
RESPONSYS_KEY=your_responsys_encryption_key